@import "../../common/colors.scss";

.footer{
    background:$secondary-color;
    color: $font-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    


}